In [1]:
pip install nltk

Requirement already satisfied: nltk in c:\users\sriha\appdata\local\programs\python\python312\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\sriha\appdata\local\programs\python\python312\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\sriha\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.4.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\sriha\appdata\local\programs\python\python312\lib\site-packages (from nltk) (2024.4.16)
Requirement already satisfied: tqdm in c:\users\sriha\appdata\local\programs\python\python312\lib\site-packages (from nltk) (4.66.2)
Requirement already satisfied: colorama in c:\users\sriha\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install regex

Requirement already satisfied: regex in c:\users\sriha\appdata\local\programs\python\python312\lib\site-packages (2024.4.16)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\sriha\appdata\local\programs\python\python312\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\sriha\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\sriha\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.13.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\sriha\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sriha\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.4.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install numpy

Requirement already satisfied: numpy in c:\users\sriha\appdata\local\programs\python\python312\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\sriha\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sriha\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sriha\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sriha\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sriha\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\sriha\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install sastrawi

Requirement already satisfied: sastrawi in c:\users\sriha\appdata\local\programs\python\python312\lib\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import numpy as np
import pandas as pd

import regex as re
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

from sklearn.feature_extraction.text import TfidfVectorizer

In [8]:
import pandas as pd

# Setel opsi tampilan Pandas
pd.set_option('display.max_columns', None)  # Menampilkan semua kolom
pd.set_option('display.max_rows', None)     # Menampilkan semua baris
pd.set_option('display.expand_frame_repr', False)  # Biarkan DataFrame memperluas ke samping jika terlalu lebar
pd.set_option('display.width', None)        # Biarkan DataFrame memperluas ke samping jika terlalu lebar
pd.set_option('display.max_colwidth', None) # Menampilkan semua teks dalam kolom

# Membaca DataFrame dari file CSV
dataset = pd.read_csv("Data-Corpus-IND.csv")

# Tampilkan DataFrame
print(dataset)

       id                                                                                                                                          teks keterangan
0   indo1                                              Matahari adalah bintang pusat dari Tata Surya yang memiliki diameter sekitar 1.4 juta kilometer.   Matahari
1   indo2                           Bumi adalah planet ketiga dari Matahari dalam Tata Surya dan satu-satunya planet yang diketahui memiliki kehidupan.       Bumi
2   indo3                                                                  Merkurius adalah planet terkecil di Tata Surya dan terdekat dengan Matahari.  Merkurius
3   indo4          Venus adalah planet kedua dari Matahari dalam Tata Surya dan dikenal sebagai "planet kembar" Bumi karena ukurannya yang hampir sama.      Venus
4   indo5                       Mars adalah planet keempat dari Matahari dalam Tata Surya dan dikenal sebagai "planet merah" karena warnanya yang khas.       Mars
5   indo6    Yupiter adalah planet terbesar di Tata Surya dan memiliki banyak satelit, termasuk Ganymede yang merupakan satelit terbesar di Tata Surya.    Yupiter
6   indo7                                               Saturnus adalah planet kedua terbesar di Tata Surya dan dikenal karena cincinnya yang mencolok.   Saturnus
7   indo8  Uranus adalah planet yang miringnya sangat ekstrem dalam Tata Surya dan merupakan satu-satunya planet yang diberi nama dari mitologi Yunani.     Uranus
8   indo9                    Neptunus adalah planet terjauh dari Matahari dalam Tata Surya dan dikenal karena angin yang sangat kencang di atmosfernya.   Neptunus
9  indo10          Pluto dulunya dianggap sebagai planet kesembilan dalam Tata Surya, namun sekarang diklasifikasikan sebagai "planet kerdil" oleh IAU.      Pluto

In [9]:
from IPython.display import display, HTML

# Membaca DataFrame dari file CSV
dataset = pd.read_csv("Data-Corpus-IND.csv")

# Menampilkan DataFrame dalam format HTML
display(HTML(dataset.to_html()))

In [10]:
def listToString(s):
    str1 = " "
    return (str1.join(s))

In [11]:
text = dataset.teks.to_list()

In [12]:
pd.DataFrame(text)

                                                                                                                                              0
0                                              Matahari adalah bintang pusat dari Tata Surya yang memiliki diameter sekitar 1.4 juta kilometer.
1                           Bumi adalah planet ketiga dari Matahari dalam Tata Surya dan satu-satunya planet yang diketahui memiliki kehidupan.
2                                                                  Merkurius adalah planet terkecil di Tata Surya dan terdekat dengan Matahari.
3          Venus adalah planet kedua dari Matahari dalam Tata Surya dan dikenal sebagai "planet kembar" Bumi karena ukurannya yang hampir sama.
4                       Mars adalah planet keempat dari Matahari dalam Tata Surya dan dikenal sebagai "planet merah" karena warnanya yang khas.
5    Yupiter adalah planet terbesar di Tata Surya dan memiliki banyak satelit, termasuk Ganymede yang merupakan satelit terbesar di Tata Surya.
6                                               Saturnus adalah planet kedua terbesar di Tata Surya dan dikenal karena cincinnya yang mencolok.
7  Uranus adalah planet yang miringnya sangat ekstrem dalam Tata Surya dan merupakan satu-satunya planet yang diberi nama dari mitologi Yunani.
8                    Neptunus adalah planet terjauh dari Matahari dalam Tata Surya dan dikenal karena angin yang sangat kencang di atmosfernya.
9          Pluto dulunya dianggap sebagai planet kesembilan dalam Tata Surya, namun sekarang diklasifikasikan sebagai "planet kerdil" oleh IAU.

In [13]:
clean_text = []
for index, teks in enumerate(text):
    clean = re.sub(r'[^\w\s]','',teks.lower())
    
    # remove consecutive identical words ex(organelorganel)
    clean = re.sub(r'\b(\w+)\1{1,}', '\\1', clean)
    clean_text.append(clean)
print(clean_text)

['matahari adalah bintang pusat dari ta surya yang memiliki diameter sekitar 14 juta kilometer', 'bumi adalah planet ketiga dari matahari dalam ta surya dan satunya planet yang diketahui memiliki kehidupan', 'merkurius adalah planet terkecil di ta surya dan terdekat dengan matahari', 'venus adalah planet kedua dari matahari dalam ta surya dan dikenal sebagai planet kembar bumi karena ukurannya yang hampir sama', 'mars adalah planet keempat dari matahari dalam ta surya dan dikenal sebagai planet merah karena warnanya yang khas', 'yupiter adalah planet terbesar di ta surya dan memiliki banyak satelit termasuk ganymede yang merupakan satelit terbesar di ta surya', 'saturnus adalah planet kedua terbesar di ta surya dan dikenal karena cinnya yang mencolok', 'uranus adalah planet yang miringnya sangat ekstrem dalam ta surya dan merupakan satunya planet yang diberi nama dari mitologi yunani', 'neptunus adalah planet terjauh dari matahari dalam ta surya dan dikenal karena angin yang sangat kencang di atmosfernya', 'pluto dulunya dianggap sebagai planet kesembilan dalam ta surya namun sekarang diklasifikasikan sebagai planet kerdil oleh iau']

In [14]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sriha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [15]:
# Split clean text into a list of sentences
split_sentences = []
for index, teks in enumerate(clean_text):
  sentences = sent_tokenize(teks)
  split_sentences.append(sentences)
# print(sentences)
print(split_sentences)

[['matahari adalah bintang pusat dari ta surya yang memiliki diameter sekitar 14 juta kilometer'], ['bumi adalah planet ketiga dari matahari dalam ta surya dan satunya planet yang diketahui memiliki kehidupan'], ['merkurius adalah planet terkecil di ta surya dan terdekat dengan matahari'], ['venus adalah planet kedua dari matahari dalam ta surya dan dikenal sebagai planet kembar bumi karena ukurannya yang hampir sama'], ['mars adalah planet keempat dari matahari dalam ta surya dan dikenal sebagai planet merah karena warnanya yang khas'], ['yupiter adalah planet terbesar di ta surya dan memiliki banyak satelit termasuk ganymede yang merupakan satelit terbesar di ta surya'], ['saturnus adalah planet kedua terbesar di ta surya dan dikenal karena cinnya yang mencolok'], ['uranus adalah planet yang miringnya sangat ekstrem dalam ta surya dan merupakan satunya planet yang diberi nama dari mitologi yunani'], ['neptunus adalah planet terjauh dari matahari dalam ta surya dan dikenal karena angin yang sangat kencang di atmosfernya'], ['pluto dulunya dianggap sebagai planet kesembilan dalam ta surya namun sekarang diklasifikasikan sebagai planet kerdil oleh iau']]

In [16]:
split_words = []
for index, sentence in enumerate(split_sentences):
    words = word_tokenize(listToString(split_sentences[index]))
    split_words.append(words)
print(split_words)

[['matahari', 'adalah', 'bintang', 'pusat', 'dari', 'ta', 'surya', 'yang', 'memiliki', 'diameter', 'sekitar', '14', 'juta', 'kilometer'], ['bumi', 'adalah', 'planet', 'ketiga', 'dari', 'matahari', 'dalam', 'ta', 'surya', 'dan', 'satunya', 'planet', 'yang', 'diketahui', 'memiliki', 'kehidupan'], ['merkurius', 'adalah', 'planet', 'terkecil', 'di', 'ta', 'surya', 'dan', 'terdekat', 'dengan', 'matahari'], ['venus', 'adalah', 'planet', 'kedua', 'dari', 'matahari', 'dalam', 'ta', 'surya', 'dan', 'dikenal', 'sebagai', 'planet', 'kembar', 'bumi', 'karena', 'ukurannya', 'yang', 'hampir', 'sama'], ['mars', 'adalah', 'planet', 'keempat', 'dari', 'matahari', 'dalam', 'ta', 'surya', 'dan', 'dikenal', 'sebagai', 'planet', 'merah', 'karena', 'warnanya', 'yang', 'khas'], ['yupiter', 'adalah', 'planet', 'terbesar', 'di', 'ta', 'surya', 'dan', 'memiliki', 'banyak', 'satelit', 'termasuk', 'ganymede', 'yang', 'merupakan', 'satelit', 'terbesar', 'di', 'ta', 'surya'], ['saturnus', 'adalah', 'planet', 'kedua', 'terbesar', 'di', 'ta', 'surya', 'dan', 'dikenal', 'karena', 'cinnya', 'yang', 'mencolok'], ['uranus', 'adalah', 'planet', 'yang', 'miringnya', 'sangat', 'ekstrem', 'dalam', 'ta', 'surya', 'dan', 'merupakan', 'satunya', 'planet', 'yang', 'diberi', 'nama', 'dari', 'mitologi', 'yunani'], ['neptunus', 'adalah', 'planet', 'terjauh', 'dari', 'matahari', 'dalam', 'ta', 'surya', 'dan', 'dikenal', 'karena', 'angin', 'yang', 'sangat', 'kencang', 'di', 'atmosfernya'], ['pluto', 'dulunya', 'dianggap', 'sebagai', 'planet', 'kesembilan', 'dalam', 'ta', 'surya', 'namun', 'sekarang', 'diklasifikasikan', 'sebagai', 'planet', 'kerdil', 'oleh', 'iau']]

In [17]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sriha\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [18]:
# stopwords in indonesia
indonesian_stop = stopwords.words('indonesian')
print(len(indonesian_stop), "stopwords in Indonesia:\n", indonesian_stop)

758 stopwords in Indonesia:
 ['ada', 'adalah', 'adanya', 'adapun', 'agak', 'agaknya', 'agar', 'akan', 'akankah', 'akhir', 'akhiri', 'akhirnya', 'aku', 'akulah', 'amat', 'amatlah', 'anda', 'andalah', 'antar', 'antara', 'antaranya', 'apa', 'apaan', 'apabila', 'apakah', 'apalagi', 'apatah', 'artinya', 'asal', 'asalkan', 'atas', 'atau', 'ataukah', 'ataupun', 'awal', 'awalnya', 'bagai', 'bagaikan', 'bagaimana', 'bagaimanakah', 'bagaimanapun', 'bagi', 'bagian', 'bahkan', 'bahwa', 'bahwasanya', 'baik', 'bakal', 'bakalan', 'balik', 'banyak', 'bapak', 'baru', 'bawah', 'beberapa', 'begini', 'beginian', 'beginikah', 'beginilah', 'begitu', 'begitukah', 'begitulah', 'begitupun', 'bekerja', 'belakang', 'belakangan', 'belum', 'belumlah', 'benar', 'benarkah', 'benarlah', 'berada', 'berakhir', 'berakhirlah', 'berakhirnya', 'berapa', 'berapakah', 'berapalah', 'berapapun', 'berarti', 'berawal', 'berbagai', 'berdatangan', 'beri', 'berikan', 'berikut', 'berikutnya', 'berjumlah', 'berkali-kali', 'berkata', 'berkehendak', 'berkeinginan', 'berkenaan', 'berlainan', 'berlalu', 'berlangsung', 'berlebihan', 'bermacam', 'bermacam-macam', 'bermaksud', 'bermula', 'bersama', 'bersama-sama', 'bersiap', 'bersiap-siap', 'bertanya', 'bertanya-tanya', 'berturut', 'berturut-turut', 'bertutur', 'berujar', 'berupa', 'besar', 'betul', 'betulkah', 'biasa', 'biasanya', 'bila', 'bilakah', 'bisa', 'bisakah', 'boleh', 'bolehkah', 'bolehlah', 'buat', 'bukan', 'bukankah', 'bukanlah', 'bukannya', 'bulan', 'bung', 'cara', 'caranya', 'cukup', 'cukupkah', 'cukuplah', 'cuma', 'dahulu', 'dalam', 'dan', 'dapat', 'dari', 'daripada', 'datang', 'dekat', 'demi', 'demikian', 'demikianlah', 'dengan', 'depan', 'di', 'dia', 'diakhiri', 'diakhirinya', 'dialah', 'diantara', 'diantaranya', 'diberi', 'diberikan', 'diberikannya', 'dibuat', 'dibuatnya', 'didapat', 'didatangkan', 'digunakan', 'diibaratkan', 'diibaratkannya', 'diingat', 'diingatkan', 'diinginkan', 'dijawab', 'dijelaskan', 'dijelaskannya', 'dikarenakan', 'dikatakan', 'dikatakannya', 'dikerjakan', 'diketahui', 'diketahuinya', 'dikira', 'dilakukan', 'dilalui', 'dilihat', 'dimaksud', 'dimaksudkan', 'dimaksudkannya', 'dimaksudnya', 'diminta', 'dimintai', 'dimisalkan', 'dimulai', 'dimulailah', 'dimulainya', 'dimungkinkan', 'dini', 'dipastikan', 'diperbuat', 'diperbuatnya', 'dipergunakan', 'diperkirakan', 'diperlihatkan', 'diperlukan', 'diperlukannya', 'dipersoalkan', 'dipertanyakan', 'dipunyai', 'diri', 'dirinya', 'disampaikan', 'disebut', 'disebutkan', 'disebutkannya', 'disini', 'disinilah', 'ditambahkan', 'ditandaskan', 'ditanya', 'ditanyai', 'ditanyakan', 'ditegaskan', 'ditujukan', 'ditunjuk', 'ditunjuki', 'ditunjukkan', 'ditunjukkannya', 'ditunjuknya', 'dituturkan', 'dituturkannya', 'diucapkan', 'diucapkannya', 'diungkapkan', 'dong', 'dua', 'dulu', 'empat', 'enggak', 'enggaknya', 'entah', 'entahlah', 'guna', 'gunakan', 'hal', 'hampir', 'hanya', 'hanyalah', 'hari', 'harus', 'haruslah', 'harusnya', 'hendak', 'hendaklah', 'hendaknya', 'hingga', 'ia', 'ialah', 'ibarat', 'ibaratkan', 'ibaratnya', 'ibu', 'ikut', 'ingat', 'ingat-ingat', 'ingin', 'inginkah', 'inginkan', 'ini', 'inikah', 'inilah', 'itu', 'itukah', 'itulah', 'jadi', 'jadilah', 'jadinya', 'jangan', 'jangankan', 'janganlah', 'jauh', 'jawab', 'jawaban', 'jawabnya', 'jelas', 'jelaskan', 'jelaslah', 'jelasnya', 'jika', 'jikalau', 'juga', 'jumlah', 'jumlahnya', 'justru', 'kala', 'kalau', 'kalaulah', 'kalaupun', 'kalian', 'kami', 'kamilah', 'kamu', 'kamulah', 'kan', 'kapan', 'kapankah', 'kapanpun', 'karena', 'karenanya', 'kasus', 'kata', 'katakan', 'katakanlah', 'katanya', 'ke', 'keadaan', 'kebetulan', 'kecil', 'kedua', 'keduanya', 'keinginan', 'kelamaan', 'kelihatan', 'kelihatannya', 'kelima', 'keluar', 'kembali', 'kemudian', 'kemungkinan', 'kemungkinannya', 'kenapa', 'kepada', 'kepadanya', 'kesampaian', 'keseluruhan', 'keseluruhannya', 'keterlaluan', 'ketika', 'khususnya', 'kini', 'kinilah', 'kira', 'kira-kira', 'kiranya', 'kita', 'kitalah', 'kok', 'kurang', 'lagi', 'lagian', 'lah', 'lain', 'lainnya', 'lalu', 'lama', 'lamanya', 'lanjut', 'lanjutnya', 'lebih', 'lewat', 'lima', 'luar', 'macam', 'maka', 'makanya', 'makin', 'malah', 'malahan', 'mampu', 'mampukah', 'mana', 'manakala', 'manalagi', 'masa', 'masalah', 'masalahnya', 'masih', 'masihkah', 'masing', 'masing-masing', 'mau', 'maupun', 'melainkan', 'melakukan', 'melalui', 'melihat', 'melihatnya', 'memang', 'memastikan', 'memberi', 'memberikan', 'membuat', 'memerlukan', 'memihak', 'meminta', 'memintakan', 'memisalkan', 'memperbuat', 'mempergunakan', 'memperkirakan', 'memperlihatkan', 'mempersiapkan', 'mempersoalkan', 'mempertanyakan', 'mempunyai', 'memulai', 'memungkinkan', 'menaiki', 'menambahkan', 'menandaskan', 'menanti', 'menanti-nanti', 'menantikan', 'menanya', 'menanyai', 'menanyakan', 'mendapat', 'mendapatkan', 'mendatang', 'mendatangi', 'mendatangkan', 'menegaskan', 'mengakhiri', 'mengapa', 'mengatakan', 'mengatakannya', 'mengenai', 'mengerjakan', 'mengetahui', 'menggunakan', 'menghendaki', 'mengibaratkan', 'mengibaratkannya', 'mengingat', 'mengingatkan', 'menginginkan', 'mengira', 'mengucapkan', 'mengucapkannya', 'mengungkapkan', 'menjadi', 'menjawab', 'menjelaskan', 'menuju', 'menunjuk', 'menunjuki', 'menunjukkan', 'menunjuknya', 'menurut', 'menuturkan', 'menyampaikan', 'menyangkut', 'menyatakan', 'menyebutkan', 'menyeluruh', 'menyiapkan', 'merasa', 'mereka', 'merekalah', 'merupakan', 'meski', 'meskipun', 'meyakini', 'meyakinkan', 'minta', 'mirip', 'misal', 'misalkan', 'misalnya', 'mula', 'mulai', 'mulailah', 'mulanya', 'mungkin', 'mungkinkah', 'nah', 'naik', 'namun', 'nanti', 'nantinya', 'nyaris', 'nyatanya', 'oleh', 'olehnya', 'pada', 'padahal', 'padanya', 'pak', 'paling', 'panjang', 'pantas', 'para', 'pasti', 'pastilah', 'penting', 'pentingnya', 'per', 'percuma', 'perlu', 'perlukah', 'perlunya', 'pernah', 'persoalan', 'pertama', 'pertama-tama', 'pertanyaan', 'pertanyakan', 'pihak', 'pihaknya', 'pukul', 'pula', 'pun', 'punya', 'rasa', 'rasanya', 'rata', 'rupanya', 'saat', 'saatnya', 'saja', 'sajalah', 'saling', 'sama', 'sama-sama', 'sambil', 'sampai', 'sampai-sampai', 'sampaikan', 'sana', 'sangat', 'sangatlah', 'satu', 'saya', 'sayalah', 'se', 'sebab', 'sebabnya', 'sebagai', 'sebagaimana', 'sebagainya', 'sebagian', 'sebaik', 'sebaik-baiknya', 'sebaiknya', 'sebaliknya', 'sebanyak', 'sebegini', 'sebegitu', 'sebelum', 'sebelumnya', 'sebenarnya', 'seberapa', 'sebesar', 'sebetulnya', 'sebisanya', 'sebuah', 'sebut', 'sebutlah', 'sebutnya', 'secara', 'secukupnya', 'sedang', 'sedangkan', 'sedemikian', 'sedikit', 'sedikitnya', 'seenaknya', 'segala', 'segalanya', 'segera', 'seharusnya', 'sehingga', 'seingat', 'sejak', 'sejauh', 'sejenak', 'sejumlah', 'sekadar', 'sekadarnya', 'sekali', 'sekali-kali', 'sekalian', 'sekaligus', 'sekalipun', 'sekarang', 'sekarang', 'sekecil', 'seketika', 'sekiranya', 'sekitar', 'sekitarnya', 'sekurang-kurangnya', 'sekurangnya', 'sela', 'selain', 'selaku', 'selalu', 'selama', 'selama-lamanya', 'selamanya', 'selanjutnya', 'seluruh', 'seluruhnya', 'semacam', 'semakin', 'semampu', 'semampunya', 'semasa', 'semasih', 'semata', 'semata-mata', 'semaunya', 'sementara', 'semisal', 'semisalnya', 'sempat', 'semua', 'semuanya', 'semula', 'sendiri', 'sendirian', 'sendirinya', 'seolah', 'seolah-olah', 'seorang', 'sepanjang', 'sepantasnya', 'sepantasnyalah', 'seperlunya', 'seperti', 'sepertinya', 'sepihak', 'sering', 'seringnya', 'serta', 'serupa', 'sesaat', 'sesama', 'sesampai', 'sesegera', 'sesekali', 'seseorang', 'sesuatu', 'sesuatunya', 'sesudah', 'sesudahnya', 'setelah', 'setempat', 'setengah', 'seterusnya', 'setiap', 'setiba', 'setibanya', 'setidak-tidaknya', 'setidaknya', 'setinggi', 'seusai', 'sewaktu', 'siap', 'siapa', 'siapakah', 'siapapun', 'sini', 'sinilah', 'soal', 'soalnya', 'suatu', 'sudah', 'sudahkah', 'sudahlah', 'supaya', 'tadi', 'tadinya', 'tahu', 'tahun', 'tak', 'tambah', 'tambahnya', 'tampak', 'tampaknya', 'tandas', 'tandasnya', 'tanpa', 'tanya', 'tanyakan', 'tanyanya', 'tapi', 'tegas', 'tegasnya', 'telah', 'tempat', 'tengah', 'tentang', 'tentu', 'tentulah', 'tentunya', 'tepat', 'terakhir', 'terasa', 'terbanyak', 'terdahulu', 'terdapat', 'terdiri', 'terhadap', 'terhadapnya', 'teringat', 'teringat-ingat', 'terjadi', 'terjadilah', 'terjadinya', 'terkira', 'terlalu', 'terlebih', 'terlihat', 'termasuk', 'ternyata', 'tersampaikan', 'tersebut', 'tersebutlah', 'tertentu', 'tertuju', 'terus', 'terutama', 'tetap', 'tetapi', 'tiap', 'tiba', 'tiba-tiba', 'tidak', 'tidakkah', 'tidaklah', 'tiga', 'tinggi', 'toh', 'tunjuk', 'turut', 'tutur', 'tuturnya', 'ucap', 'ucapnya', 'ujar', 'ujarnya', 'umum', 'umumnya', 'ungkap', 'ungkapnya', 'untuk', 'usah', 'usai', 'waduh', 'wah', 'wahai', 'waktu', 'waktunya', 'walau', 'walaupun', 'wong', 'yaitu', 'yakin', 'yakni', 'yang']

In [19]:
print(split_words, sep=', ')

[['matahari', 'adalah', 'bintang', 'pusat', 'dari', 'ta', 'surya', 'yang', 'memiliki', 'diameter', 'sekitar', '14', 'juta', 'kilometer'], ['bumi', 'adalah', 'planet', 'ketiga', 'dari', 'matahari', 'dalam', 'ta', 'surya', 'dan', 'satunya', 'planet', 'yang', 'diketahui', 'memiliki', 'kehidupan'], ['merkurius', 'adalah', 'planet', 'terkecil', 'di', 'ta', 'surya', 'dan', 'terdekat', 'dengan', 'matahari'], ['venus', 'adalah', 'planet', 'kedua', 'dari', 'matahari', 'dalam', 'ta', 'surya', 'dan', 'dikenal', 'sebagai', 'planet', 'kembar', 'bumi', 'karena', 'ukurannya', 'yang', 'hampir', 'sama'], ['mars', 'adalah', 'planet', 'keempat', 'dari', 'matahari', 'dalam', 'ta', 'surya', 'dan', 'dikenal', 'sebagai', 'planet', 'merah', 'karena', 'warnanya', 'yang', 'khas'], ['yupiter', 'adalah', 'planet', 'terbesar', 'di', 'ta', 'surya', 'dan', 'memiliki', 'banyak', 'satelit', 'termasuk', 'ganymede', 'yang', 'merupakan', 'satelit', 'terbesar', 'di', 'ta', 'surya'], ['saturnus', 'adalah', 'planet', 'kedua', 'terbesar', 'di', 'ta', 'surya', 'dan', 'dikenal', 'karena', 'cinnya', 'yang', 'mencolok'], ['uranus', 'adalah', 'planet', 'yang', 'miringnya', 'sangat', 'ekstrem', 'dalam', 'ta', 'surya', 'dan', 'merupakan', 'satunya', 'planet', 'yang', 'diberi', 'nama', 'dari', 'mitologi', 'yunani'], ['neptunus', 'adalah', 'planet', 'terjauh', 'dari', 'matahari', 'dalam', 'ta', 'surya', 'dan', 'dikenal', 'karena', 'angin', 'yang', 'sangat', 'kencang', 'di', 'atmosfernya'], ['pluto', 'dulunya', 'dianggap', 'sebagai', 'planet', 'kesembilan', 'dalam', 'ta', 'surya', 'namun', 'sekarang', 'diklasifikasikan', 'sebagai', 'planet', 'kerdil', 'oleh', 'iau']]

In [20]:
split_stop = []
for index, words in enumerate(split_words):
    wordsFiltered = [w for w in words if w not in indonesian_stop]
    split_stop.append(wordsFiltered)
print(split_stop)

[['matahari', 'bintang', 'pusat', 'ta', 'surya', 'memiliki', 'diameter', '14', 'juta', 'kilometer'], ['bumi', 'planet', 'ketiga', 'matahari', 'ta', 'surya', 'satunya', 'planet', 'memiliki', 'kehidupan'], ['merkurius', 'planet', 'terkecil', 'ta', 'surya', 'terdekat', 'matahari'], ['venus', 'planet', 'matahari', 'ta', 'surya', 'dikenal', 'planet', 'kembar', 'bumi', 'ukurannya'], ['mars', 'planet', 'keempat', 'matahari', 'ta', 'surya', 'dikenal', 'planet', 'merah', 'warnanya', 'khas'], ['yupiter', 'planet', 'terbesar', 'ta', 'surya', 'memiliki', 'satelit', 'ganymede', 'satelit', 'terbesar', 'ta', 'surya'], ['saturnus', 'planet', 'terbesar', 'ta', 'surya', 'dikenal', 'cinnya', 'mencolok'], ['uranus', 'planet', 'miringnya', 'ekstrem', 'ta', 'surya', 'satunya', 'planet', 'nama', 'mitologi', 'yunani'], ['neptunus', 'planet', 'terjauh', 'matahari', 'ta', 'surya', 'dikenal', 'angin', 'kencang', 'atmosfernya'], ['pluto', 'dulunya', 'dianggap', 'planet', 'kesembilan', 'ta', 'surya', 'diklasifikasikan', 'planet', 'kerdil', 'iau']]

In [21]:
factory = StemmerFactory()
stemmer = factory.create_stemmer()

In [22]:
dic_stem = {"nomor":[], "parameter":[], "kata":[]}
list_index = []
list_param = []
list_stem = []
for index, stop in enumerate(split_stop):
    for parameter, kata in enumerate(stop):
        stemword = stemmer.stem(kata)
        dic_stem["nomor"].append(index)
        dic_stem["parameter"].append(parameter)
        dic_stem["kata"].append(stemword)
# dic_stem
word_stemmed = pd.DataFrame(dic_stem)
word_stemmed.head(10)

   nomor  parameter       kata
0      0          0   matahari
1      0          1    bintang
2      0          2      pusat
3      0          3         ta
4      0          4      surya
5      0          5      milik
6      0          6   diameter
7      0          7         14
8      0          8       juta
9      0          9  kilometer

In [23]:
stembeneran = []
for index in range(len(word_stemmed.nomor.unique())):
    var = ' '.join(word_stemmed[word_stemmed.nomor == index].kata)
    stembeneran.append(var)
print(stembeneran)

['matahari bintang pusat ta surya milik diameter 14 juta kilometer', 'bumi planet tiga matahari ta surya satu planet milik hidup', 'merkurius planet kecil ta surya dekat matahari', 'venus planet matahari ta surya kenal planet kembar bumi ukur', 'mars planet empat matahari ta surya kenal planet merah warna khas', 'yupiter planet besar ta surya milik satelit ganymede satelit besar ta surya', 'saturnus planet besar ta surya kenal cinnya colok', 'uranus planet miring ekstrem ta surya satu planet nama mitologi yunani', 'neptunus planet jauh matahari ta surya kenal angin kencang atmosfer', 'pluto dulunya anggap planet sembilan ta surya klasifikasi planet kerdil iau']

In [24]:
clean_dataset = pd.DataFrame(stembeneran)
clean_dataset = clean_dataset.rename(columns={0: 'teks'})

In [25]:
clean_dataset

                                                                          teks
0             matahari bintang pusat ta surya milik diameter 14 juta kilometer
1                   bumi planet tiga matahari ta surya satu planet milik hidup
2                               merkurius planet kecil ta surya dekat matahari
3                 venus planet matahari ta surya kenal planet kembar bumi ukur
4            mars planet empat matahari ta surya kenal planet merah warna khas
5  yupiter planet besar ta surya milik satelit ganymede satelit besar ta surya
6                            saturnus planet besar ta surya kenal cinnya colok
7       uranus planet miring ekstrem ta surya satu planet nama mitologi yunani
8          neptunus planet jauh matahari ta surya kenal angin kencang atmosfer
9  pluto dulunya anggap planet sembilan ta surya klasifikasi planet kerdil iau

In [26]:
# Menghapus baris yang mengandung NaN dari DataFrame 'dataset'
dataset.dropna(inplace=True)

In [27]:
# Mengganti nilai NaN dengan string kosong ("") dalam DataFrame 'dataset'
dataset.fillna("", inplace=True)

In [28]:
    clean_dataset

                                                                          teks
0             matahari bintang pusat ta surya milik diameter 14 juta kilometer
1                   bumi planet tiga matahari ta surya satu planet milik hidup
2                               merkurius planet kecil ta surya dekat matahari
3                 venus planet matahari ta surya kenal planet kembar bumi ukur
4            mars planet empat matahari ta surya kenal planet merah warna khas
5  yupiter planet besar ta surya milik satelit ganymede satelit besar ta surya
6                            saturnus planet besar ta surya kenal cinnya colok
7       uranus planet miring ekstrem ta surya satu planet nama mitologi yunani
8          neptunus planet jauh matahari ta surya kenal angin kencang atmosfer
9  pluto dulunya anggap planet sembilan ta surya klasifikasi planet kerdil iau

In [30]:
clean_dataset.to_csv('clean-corpus-indonesia.csv')